body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card h3 {
    margin-top: 0;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

ul li::before {
  content: "✔️ ";
  color: #1e90ff;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 30px 20px;
  margin-top: 40px;
  border-top: 2px solid #1e90ff;
}

footer h2 {
  color: #1e90ff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}


footer button {
  background-color: #1e90ff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

footer button:hover {
  background-color: #0d6efd;
}

.fin {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}

