{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celulares SAMSUNG</title>
    <link rel="stylesheet" href= "{% static "celulares.css"%}"> 
</head>
<body>
    <h1 class="empresa">SAMSUNG</h1>
    <nav>
        <button><a href="{% url 'index' %}">Pagina Principal</a></button>
        <button><a href="{% url 'celulares' %}">Celulares</a></button>
        <button><a href="{% url 'soporte' %}">Soporte</a></button>
        <button><a href="{% url 'nosotros' %}">Sobre Nostoros</a></button>

    </nav>
    <br>
    <h1>Productos</h1>
    <div>
        <h2>Celulares</h2>
        <h3>Samsung S24</h3>
        <img src="/static/img/s24plus.jpg" alt="telefono">
        <p>Caracteristicas: 8GB de RAM con hasta 512GB de almacenamiento, Carga inalámbrica (15W) y carga rápida (45W)., Lector de huellas embebido en pantalla.</p>

        <h3>Samsung galaxi Z</h3>
        <img src="/static/img/galaxiZ.jpg" alt="telefono">
        <p>Caracteristicas: Procesador Tegra 2 de doble núcleo a 1GHz, Cámara de 5 megapíxeles con captura de video HD 720p, 8 GB de memoria interna</p>
    </div>

    <div>
        <h2>Pantallas</h2>
        <h3>Pantalla cristal</h3>
        <img src="/static/img/pantallaCristal.jpg" alt="pantalla">
        <p>Caracteristicas: Marca Samsung, Modelo Samsung Crystal UN50DU8000FXZX, Color negro, Tecnología 4K</p>

        <h3>Pantalla Qled</h3>
        <img src="/static/img/Qled.jpg" alt="Pantalla">
        <p>Caracteristicas: Marca Samsung, Modelo Samsung QLED FL990DU89000FXZX, Color negro, Tecnología 4K</p>
    </div>

    <div>
        <h2>Linea blanca</h2>
        <h3>Refrigerador</h3>
        <img src="/static/img/refri.jpg" alt="Refrigerador">
        <p>Caracteristicas: Capacidad de 14 pies, color: negro, modelo: br12zcx00</p>

        <h3>Microondas</h3>
        <img src="/static/img/micro.jpg" alt="Microondas">
        <p>Caracteristicas: 1.1 Pies Cúbicos, color: Blanco</p>
    </div>

    <footer>
        <h2>Contactanos</h2>
        <p>Hábla con nuestros expertos Samsung. </p>
        <button><a href="{% url 'contactanos' %}">Mas Informacion</a></button>
        <p>Sitio elaborado por: </p>
        <ul>
            <li>Jocelyn Garcia</li>
            <li>Sharon Covarrubias</li>
            <li>Miguel Ramirez</li>
            <li>Demian Uriegas</li>
            <li>Adrian Gomez</li>
        </ul>
        <p class="fin">© 2025 Samsung Electronics. Todos los derechos reservados.</p>

    </footer>
</body>
</html>