{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contacto Samsung</title>
    <link rel="stylesheet" href= "{% static "contactanos.css"%}"> 
</head>
<body>

  <button><a class="btn" href="{% url 'index' %}">Regresar a inicio</a></button>
  <h1>Contáctanos</h1>

  <div class="container">
    <div class="card">
      <h3>WhatsApp - 24/7</h3>
      <p>Ayuda rápida a través de nuestro canal oficial.</p>
      <p><strong>Disponible los 7 días de la semana</strong></p>
      <p>Tienda en línea: 8:00 a 23:00 hrs.</p>
      <a href="#" class="btn">Iniciar conversación</a>
    </div>

    <div class="card">
      <h3>LiveChat - 24/7</h3>
      <p>Atención con expertos en productos Samsung.</p>
      <p><strong>Disponible los 7 días de la semana</strong></p>
      <p>Tienda en línea: 8:00 a 23:00 hrs.</p>
      <a href="#" class="btn">Iniciar conversación</a>
    </div>

    <div class="card">
      <h3>Soporte a Clientes</h3>
      <p>Asistencia general, soporte técnico y seguimiento de reportes.</p>
      <p>Lunes a Viernes: 9:00 a 20:00 hrs<br>Sábados: 9:00 a 17:00 hrs</p>
      <a href="#" class="btn">Más información</a>
    </div>

    <div class="card">
      <h3>Soporte presencial</h3>
      <p>Ayuda aunque el producto esté fuera de garantía.</p>
      <a href="#" class="btn">Centros de servicio</a>
    </div>

    <div class="card">
      <h3>Soporte B2B (Empresarial)</h3>
      <p>Comunícate con nuestros expertos de lunes a sábado, 8:00 a 19:00 hrs.</p>
      <a href="#" class="btn">Más información</a>
    </div>

    <div class="card">
      <h3>Servicio de Reparación</h3>
      <p>Repara tu producto Samsung en pocos pasos.</p>
      <a href="#" class="btn">Solicitar reparación</a>
    </div>
  </div>

  <footer>
        <p>Sitio elaborado por: </p>
        <ul>
            <li>Jocelyn Garcia</li>
            <li>Sharon Covarrubias</li>
            <li>Miguel Ramirez</li>
            <li>Demian Uriegas</li>
            <li>Adrian Gomez</li>
        </ul>
        <p class="fin">© 2025 Samsung Electronics. Todos los derechos reservados.</p>

    </footer>

</body>
</html>
